In [1]:
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

In [19]:
df1 = pd.read_csv("pulse_summary_k4.csv")
df2 = pd.read_csv("randcol_summary_k4.csv")
df2

,FileName,nNode,nIter,nCols,LB,UB_1,UB_2,t_lb,t_ub1,t_enum,t_ub2,nEnumCols,Unnamed: 12
0,C101,101,34,2105,1691.747500,1727.1,1706.5,1.838,4.177,0.084,23.664,22726,NaN
1,C101,51,22,1370,721.300000,726.9,723.9,1.570,1.332,0.022,2.472,3451,NaN
2,C101,61,30,1604,929.252381,931.7,931.2,0.793,1.895,0.026,4.202,1522,NaN
3,C101,71,30,1737,1113.913873,1126.7,1123.6,0.846,1.826,0.035,12.047,9713,NaN
4,C101,81,31,1808,1283.382222,1292.6,1289.9,1.109,1.837,0.037,7.889,5284,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,X-n548-k50,548,204,12483,221422.996023,222593.0,221793.0,290.609,1801.791,2.672,1628.815,181254,NaN
57,X-n655-k131,655,262,15723,131572.130082,132102.0,131814.0,514.475,1801.816,3.494,1801.477,214495,NaN
58,X-n801-k40,801,316,18703,318626.218243,321608.0,320001.0,903.520,1803.159,5.452,1803.729,276669,NaN
59,X-n856-k95,856,309,17750,183748.972519,185152.0,184628.0,941.815,1802.826,6.283,1801.347,297925,NaN
60,X-n957-k87,957,334,20709,210537.420380,212998.0,211075.0,1307.847,1802.285,7.782,1803.433,328067,NaN

In [35]:
plt.rcParams.update({
    "text.usetex": True,
    "font.family": "sans-serif",
    "font.sans-serif": ["Helvetica"]})

In [ ]:
fig = plt.figure()
options = ['C101','C121','C161']
df1_f = df1[df1.FileName.isin(options)]
df2_f = df2[df2.FileName.isin(options)]
xs = df1_f.nNode;
y1 = df1_f.t_lb;
y2 = (df1_f.UB_1 - df1_f.LB)/df1_f.LB
plt.subplot(211)
plt.plot(xs, y1)
plt.subplot(212)
plt.bar(xs, y2)

plt.show()

In [29]:
y1

0       1.094
1       1.573
2       2.312
3       2.437
4       3.265
5       4.297
6       2.250
7       9.219
8      10.127
9      12.721
10     15.595
11     31.451
12     62.058
13    107.980
14    149.619
Name: t_lb, dtype: float64